.sidebar {
  width: 400px;
  background-color: yellow;
  float: left;
  margin: 30px;
  border: 2px solid green;
  padding: 15px;

}

img {
  float: right;
  margin: 20px;
  border: 2px solid blue;
  padding: 10px;
}

h1 {
  text-align: right;
}
